/* hero */
.hero {
    // max-width: 1600px;
    // height: 600px;
    margin: 0 auto;

    text-align: center;

    background-image: linear-gradient(to right,
            rgba(21, 20, 19, 0.64),
            rgba(47, 48, 58, 0.8)),
        url(../images/Headering.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--secondary-bg);

}

.container.page-hero {
    margin: 0 auto;
    padding: 200px 0;
}

.hero-title {
    color: var(--white);
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 44px;
    font-weight: 900;
    line-height: 136.363636%;
    /* 60/44 */
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}